body {
    background-color: lightblue;
}
body,
h1 {
    font-family: "Raleway", Arial, sans-serif
}
h2 {
    font-family: "Times New Roman", Times, serif;
}
h3 {
        font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    letter-spacing: 6px
}


.w3-row-padding img {
    margin-bottom: 12px
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.w3-content {
    margin-bottom:128px
}

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 80px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 250px;
  height: 100px;
}

#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}

img {
  border-radius: 12px;
}
